<a href="https://colab.research.google.com/github/zaki-rmd/Algoritma-Pyton/blob/main/P7_Zaki_Ramadan_2C1240059.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WHILE LOOP**

In [ ]:
#Contoh penggunaan While Loop
#Catatan: Penentuan ruang lingkup di Python bisa menggunakan tab alih-alih menggunakan tanda kurung

count = 0
while (count < 9):
  print ("The count is: ", count)
  count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Good bye!

In [ ]:
a = 3
# blok while akan dieksekusi
# selama a > 3
while a > 0:
    print("a =", a, "> 0")
    a = a - 1
    print("    a sekarang :", a)

a = 3 > 0
    a sekarang : 2
a = 2 > 0
    a sekarang : 1
a = 1 > 0
    a sekarang : 0

In [3]:
jawab = 'ya'
hitung = 0

while(jawab == 'ya'):
    hitung += 1
    jawab = input("Ulangy lagi tidak? ")

print("Total perulagan: ",hitung)

Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? ya
Ulang lagi tidak? tidak
Total perulagan:  6

**FOR LOOP**

In [ ]:
#Contoh pengulangan for sederhana
angka = [1,2,3,4,5]
for x in angka:
  print(x)

1
2
3
4
5

In [ ]:
#Contoh pengulangan for
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
  print ("Saya suka makan", makanan)

Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

In [ ]:
ulang = 10

for i in range(ulang):
    print(f"Perulangan ke-{i}")

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9

In [ ]:
# mencetak "Pikachu" sebanyak 5x
for _ in range(5):
    print("Pikachu")

Pikachu
Pikachu
Pikachu
Pikachu
Pikachu

In [ ]:
# mencetak nilai kuadrat 1-10 dengan step=2
for val in range(1, 10, 2):
    val_kuadrat = val**2
    print(f"{val}^2 adalah {val_kuadrat}")

1^2 adalah 1
3^2 adalah 9
5^2 adalah 25
7^2 adalah 49
9^2 adalah 81

In [ ]:
# iterasi pada list
skills = ["Python", "R", "Julia", "Scala"]
for skill in skills:
    print("Anda menguasai", skill)
print("-------------------------")
# iterasi pada list dengan menyertakan indeks (key)
for idx, skill in enumerate(skills):
    print(f"Skill ke-{idx+1} : {skill}")

Anda menguasai Python
Anda menguasai R
Anda menguasai Julia
Anda menguasai Scala
-------------------------
Skill ke-1 : Python
Skill ke-2 : R
Skill ke-3 : Julia
Skill ke-4 : Scala

**NESTED LOOP**

In [ ]:
# Program Python dengan Nested Loop

# Input jumlah baris
baris = int(input("Masukkan jumlah baris: "))

# Loop untuk membuat pola
for i in range(1, baris + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()  # Pindah ke baris berikutnya

Masukkan jumlah baris: 10
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
#Menamai Pasangan Hewan
hewan1 = ["Kucing", "Kelinci", "Hamster"]
hewan2 = ["Besar", "Kecil"]
print("Pasangan hewan:")
for h1 in hewan1:
    for h2 in hewan2:
        print(h1, h2)

Pasangan hewan:
Kucing Besar
Kucing Kecil
Kelinci Besar
Kelinci Kecil
Hamster Besar
Hamster Kecil

In [ ]:
#Daftar Hari dan Waktu
hari = ["Senin", "Selasa", "Rabu"]
waktu = ["Pagi", "Siang", "Malam"]
print("Jadwal hari dan waktu:")
for h in hari:
    for w in waktu:
        print(h, w)

Jadwal hari dan waktu:
Senin Pagi
Senin Siang
Senin Malam
Selasa Pagi
Selasa Siang
Selasa Malam
Rabu Pagi
Rabu Siang
Rabu Malam

In [ ]:
#Permainan Tebak Angka
angka_rahasia = [1, 3, 5]
angka_tebakan = [2, 3, 4, 5]
print("Hasil tebakan angka:")
for rahasia in angka_rahasia:
    for tebakan in angka_tebakan:
        if rahasia == tebakan:
            print(f"Benar! Angka {tebakan} cocok.")
        else:
            print(f"Angka {tebakan} salah.")

Hasil tebakan angka:
Angka 2 salah.
Angka 3 salah.
Angka 4 salah.
Angka 5 salah.
Angka 2 salah.
Benar! Angka 3 cocok.
Angka 4 salah.
Angka 5 salah.
Angka 2 salah.
Angka 3 salah.
Angka 4 salah.
Benar! Angka 5 cocok.

**ELSE, BREAK, CONTINUE**

In [ ]:
# ============ WHILE DENGAN ELSE ============ #

b = 1
while b < 5:
    print("b masih lebih kecil dari 5")
    b = b + 1
else:
    print("b sekarang sama dengan 5")


# break : menghentikan iterasi total


print("\n-------BREAK-----------")


skill = ["Python", "R", "Julia", "Scala"]     # data dalam bentuk list

print("start loop")
for val in skill:
    # jika val = "Julia" hentikan iterasi
    if val == "Julia":
        break

    print("  Bahasa", val)

print("end loop")


# continue ; menghentikan iterasi saat ini
# dan langsung melanjutkan iterasi berikutnya

print("\n------CONTINUE---------")

print("start loop")
a = 0
while a < 5:
    a = a + 1

    # jika nilai a 2 atau 3 : continue
    if a == 2 or a == 3:
        continue

    print("  nilai a =", a)

print("end loop")

b masih lebih kecil dari 5
b masih lebih kecil dari 5
b masih lebih kecil dari 5
b masih lebih kecil dari 5
b sekarang sama dengan 5

-------BREAK-----------
start loop
  Bahasa Python
  Bahasa R
end loop

------CONTINUE---------
start loop
  nilai a = 1
  nilai a = 4
  nilai a = 5
end loop

In [14]:
#LATIHAN PRAKTIKUM 7

# Meminta jumlah barang yang dibeli
jumlah_barang = int(input("Masukkan jumlah barang yang dibeli: "))
total_belanja = 0

# Looping untuk setiap barang
for i in range(1, jumlah_barang + 1):
    print(f"\nBarang ke-{i}:")
    harga_satuan = float(input("Masukkan harga satuan barang: "))
    jumlah_unit = int(input("Masukkan jumlah unit barang: "))
    total_harga_barang = harga_satuan * jumlah_unit
    total_belanja += total_harga_barang
    print(f"Total harga barang ke-{i}: {total_harga_barang:.2f}")

# Menampilkan total belanja
print(f"\nTotal belanja seluruhnya: {total_belanja:.2f}")

Masukkan jumlah barang yang dibeli: 5

Barang ke-1:
Masukkan harga satuan barang: 12000
Masukkan jumlah unit barang: 5
Total harga barang ke-1: 60000.00

Barang ke-2:
Masukkan harga satuan barang: 120000
Masukkan jumlah unit barang: 1
Total harga barang ke-2: 120000.00

Barang ke-3:
Masukkan harga satuan barang: 35000
Masukkan jumlah unit barang: 2
Total harga barang ke-3: 70000.00

Barang ke-4:
Masukkan harga satuan barang: 5000
Masukkan jumlah unit barang: 10
Total harga barang ke-4: 50000.00

Barang ke-5:
Masukkan harga satuan barang: 95000
Masukkan jumlah unit barang: 1
Total harga barang ke-5: 95000.00

Total belanja seluruhnya: 395000.00