<a href="https://colab.research.google.com/github/zaki-rmd/Algoritma-Pyton/blob/main/P8__Zaki_Ramadan_2C1240059.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [13]:
arr = [10, 20, 30, 40]
arr

[10, 20, 30, 40]

In [14]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [15]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers[0]

100

**MENDEKLARASIKAN ARRAY**

In [16]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [17]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [18]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [5]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [1]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [ ]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [25]:
# P8
# Membuat array dengan angka acak
arr = [30, 45, 10, 20, 12,7, 19, 13, 17, 2, 10, 27, 5, 29]

# 1. Nilai maksimum
nilai_maks = max(arr)
print("Nilai Maksimum:", nilai_maks)

# 2. Nilai minimum
nilai_min = min(arr)
print("Nilai Minimum:", nilai_min)

# 3. Hasil penjumlahan seluruh elemen
hasil_penjumlahan = sum(arr)
print("Hasil Penjumlahan:", hasil_penjumlahan)

# 4. Jumlah seluruh elemen
jumlah_arr = len(arr)
print("Jumlah Elemen:", jumlah_arr)

# 5. Rata-rata seluruh elemen
rata_rata = hasil_penjumlahan / jumlah_arr
print("Rata-rata:", rata_rata)

Nilai Maksimum: 45
Nilai Minimum: 2
Hasil Penjumlahan: 246
Jumlah Elemen: 14
Rata-rata: 17.571428571428573

In [3]:
# Soal 2 dengan bu Sevinurafni
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecilT2)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12